{% extends '_layouts/cp' %}

{% set crumbs = [
    { label: "Coupons"|t('coupons'), url: url('coupons') },
] %}
{% set title = "Create Coupon"|t('coupons') %}
{% import '_includes/forms.twig' as forms %}

{% set hiddenInputs %}
    {{ csrfInput() }}
{% endset %}

{% block actionButton %}
    <button type="button" class="btn submit formsubmit" data-form="couponform">{{ 'Save Coupon'|t('coupons') }}</button>
{% endblock %}

{% set content %}
    {% set formAttributes = {
        id: 'couponform',
        method: 'post',
        'accept-charset': 'UTF-8',
        data: {
            saveshortcut: true,
            'confirm-unload': true,
        },
    } %}
    <form {{ attr(formAttributes) }}>
        {{ actionInput('coupons/save-coupon') }}
        {{ redirectInput('coupons') }}
        {{ hiddenInputs }}

        {{ forms.textField({
            label: "Coupon Name"|t('coupons'),
            id: 'name',
            name: 'name',
            value: '',
            type: 'text',
            inputAttributes: {
                data: {lpignore: 'true'},
            },
        }) }}

        {{ forms.textField({
            label: "Coupon Code"|t('coupons'),
            id: 'code',
            name: 'code',
            value: '',
            type: 'text',
            inputAttributes: {
                data: {lpignore: 'true'},
            },
        }) }}

        <input type="submit" class="hidden">
    </form>
{% endset %}
