{% extends '_layouts/cp' %}

{% set fullPageForm = true %}
{% set crumbs = [
    { label: "Advanced Discounts"|t('advanced-discounts'), url: url('advanced-discounts') },
] %}
{% set title = "Create discount"|t('advanced-discounts') %}
{% import '_includes/forms.twig' as forms %}

{% block actionButton %}
    <button type="submit" class="btn submit">{{ 'Save discount'|t('advanced-discounts') }}</button>
{% endblock %}

{% block content %}
    {{ actionInput('advanced-discounts/manage/save') }}
    {{ redirectInput('advanced-discounts') }}

    {% if discount.id %}
        <input type="hidden" name="id" value="{{ discount.id }}">
    {% endif %}

    {{ forms.textField({
        label: "Name"|t('advanced-discounts'),
        id: 'name',
        name: 'name',
        value: discount.name,
        type: 'text',
        inputAttributes: {
            data: {lpignore: 'true'},
        },
        required: true,
        errors: discount.getErrors('name'),
    }) }}

    {{ forms.textField({
        label: "Discount code"|t('advanced-discounts'),
        id: 'code',
        name: 'code',
        value: discount.code,
        type: 'text',
        instructions: "Leave blank to apply to every applicable order (like a sale). Entering a code requires the code to be entered during checkout for the discount to apply."|t('advanced-discounts'),
        inputAttributes: {
            data: {lpignore: 'true'},
        },
        errors: discount.getErrors('code'),
    }) }}

    {% set triggerCondition %}
        {{ discount.triggerCondition.getBuilderHtml()|raw }}
    {% endset %}

    {{ forms.field({
        label: 'Conditions'|t('advanced-discounts'),
        instructions: 'Rules that decide when this discount applies.'|t('advanced-discounts'),
        errors: discount.getErrors('triggerCondition')
    }, triggerCondition) }}

    {% set actionCondition %}
        {{ discount.actionCondition.getBuilderHtml()|raw }}
    {% endset %}

    {{ forms.field({
        label: 'Action Rules'|t('advanced-discounts'),
        instructions: 'Create rules to apply discounts.'|t('advanced-discounts'),
        errors: discount.getErrors('actionCondition')
    }, actionCondition) }}

    {% set messageCondition %}
        {{ discount.messageCondition.getBuilderHtml()|raw }}
    {% endset %}

    {{ forms.field({
        label: 'Messages'|t('advanced-discounts'),
        instructions: 'Show messages to customers, such as upsells telling them how much more they need to spend to qualify.'|t('advanced-discounts'),
        errors: discount.getErrors('messageCondition')
    }, messageCondition) }}
{% endblock %}

{% block details %}
    <div class="meta">
        {{ forms.lightswitchField({
            label: 'Enabled'|t('app'),
            id: 'enabled',
            name: 'enabled',
            on: discount.enabled,
        }) }}
    </div>
{% endblock %}
