{% extends '_layouts/cp' %}

{% set fullPageForm = true %}
{% set crumbs = [
    { label: "Advanced Discounts"|t('advanced-discounts'), url: url('advanced-discounts') },
] %}
{% set title = "Create Coupon"|t('advanced-discounts') %}
{% import '_includes/forms.twig' as forms %}

{% block actionButton %}
    <button type="submit" class="btn submit">{{ 'Save Coupon'|t('advanced-discounts') }}</button>
{% endblock %}

{% block content %}
    {{ actionInput('advanced-discounts/manage/save') }}
    {{ redirectInput('advanced-discounts') }}

    {% if coupon.id %}
        <input type="hidden" name="id" value="{{ coupon.id }}">
    {% endif %}

    {{ forms.textField({
        label: "Coupon Name"|t('advanced-discounts'),
        id: 'name',
        name: 'name',
        value: coupon.name,
        type: 'text',
        inputAttributes: {
            data: {lpignore: 'true'},
        },
        required: true,
        errors: coupon.getErrors('name'),
    }) }}

    {{ forms.textField({
        label: "Coupon Code"|t('advanced-discounts'),
        id: 'code',
        name: 'code',
        value: coupon.code,
        type: 'text',
        inputAttributes: {
            data: {lpignore: 'true'},
        },
        required: true,
        errors: coupon.getErrors('code'),
    }) }}

    {% set triggerCondition %}
        {{ coupon.triggerCondition.getBuilderHtml()|raw }}
    {% endset %}

    {{ forms.field({
        label: 'Conditions'|t('advanced-discounts'),
        instructions: 'Create rules to match and order with a coupon.'|t('advanced-discounts'),
        errors: coupon.getErrors('triggerCondition')
    }, triggerCondition) }}

    {% set actionCondition %}
        {{ coupon.actionCondition.getBuilderHtml()|raw }}
    {% endset %}

    {{ forms.field({
        label: 'Action Rules'|t('advanced-discounts'),
        instructions: 'Create rules to apply discounts.'|t('advanced-discounts'),
        errors: coupon.getErrors('actionCondition')
    }, actionCondition) }}
{% endblock %}

{% block details %}
    <div class="meta">
        {{ forms.lightswitchField({
            label: 'Enabled'|t('app'),
            id: 'enabled',
            name: 'enabled',
            on: coupon.enabled,
        }) }}
    </div>
{% endblock %}
