{% extends '_layouts/cp' %}

{% set crumbs = [
    { label: "Coupons"|t('coupons'), url: url('coupons') },
] %}
{% set title = "Create Coupon"|t('coupons') %}
{% import '_includes/forms.twig' as forms %}

{% set mainFormAttributes = {
    action: actionUrl('coupons/manage/save'),
} %}

{% block actionButton %}
    <button type="submit" class="btn submit">{{ 'Save Coupon'|t('coupons') }}</button>
{% endblock %}

{% block content %}
    {{ csrfInput() }}
    {{ redirectInput('coupons') }}

    {% if coupon.id %}
        <input type="hidden" name="id" value="{{ coupon.id }}">
    {% endif %}

    {{ forms.textField({
        label: "Coupon Name"|t('coupons'),
        id: 'title',
        name: 'title',
        value: coupon.title,
        type: 'text',
        inputAttributes: {
            data: {lpignore: 'true'},
        },
        required: true,
        errors: coupon.getErrors('title'),
    }) }}

    {{ forms.textField({
        label: "Coupon Code"|t('coupons'),
        id: 'code',
        name: 'code',
        value: coupon.code,
        type: 'text',
        inputAttributes: {
            data: {lpignore: 'true'},
        },
        required: true,
        errors: coupon.getErrors('code'),
    }) }}

    {% set triggerCondition %}
        {{ coupon.triggerCondition.getBuilderHtml()|raw }}
    {% endset %}

    {{ forms.field({
        label: 'Conditions'|t('coupons'),
        instructions: 'Create rules to match and order with a coupon.'|t('coupons'),
        errors: coupon.getErrors('triggerCondition')
    }, triggerCondition) }}

    {% set actionCondition %}
        {{ coupon.actionCondition.getBuilderHtml()|raw }}
    {% endset %}

    {{ forms.field({
        label: 'Action Rules'|t('coupons'),
        instructions: 'Create rules to apply discounts.'|t('coupons'),
        errors: coupon.getErrors('actionCondition')
    }, actionCondition) }}
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {{ forms.lightswitchField({
            label: 'Enabled'|t('app'),
            id: 'enabled',
            name: 'enabled',
            on: coupon.enabled,
        }) }}
    </div>
{% endblock %}
